amqp==2.2.2
Babel==2.5.3
billiard==3.5.0.3
celery==4.2.1
flower==1.2.0
kombu==4.2.0
pytz==2018.3
redis==2.10.6
tornado==5.0.2
vine==1.1.4
tweepy==3.8.0
Unidecode==1.1.1
vaderSentiment==3.3.1
pandas
fasttext
sklearn
nltk
langdetect
flask
bs4
lxml